.cla{
    color: chocolate;
    font-size: 21px;
    text-align: -webkit-center;
    background-color: black;
}
.bordercla{
    font-family: fantasy;
    background-color: beige;
    border: solid red;
}
.Margin{
    border: solid 2px blue;
    width: fit-content;
    padding: 10px 20px 10px;
    border-width: 10px;
    margin: 10px 30px 50px;
}
.circle{
    border: solid 3px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    background-color: bisque;
}
.defender{
        border: solid 10px black;
    padding: 10px 20px 10px 20px;
    margin: auto;
}